h1#titleNl {
    display: none;
}

main.App-content {
    border: none;
}

li.item-chatItem {
    position: absolute;
    left: 0px;
    bottom: 0;
}

body.no-touch {
    font-family: nintendo;
    font-size: 10px;
    /* filter: hue-rotate(-346deg); */
}

@font-face{font-family:nintendo;src:url(/fonts/dogica.otf)}

li.TagTile {
    background-color: white !important;
    height: 84px !important;
    border: 1px solid #000;
    margin: 10px;
    border-radius: 4px;
}

a.TagTile-info {
    overflow: hidden !important;
    color: black !important;
    padding: 0px;
    transition: none;
    position: absolute;
    margin-bottom: -42px;
}

a.TagTile-lastPostedDiscussion {
    color: black !important;
}

a.TagTile-lastPostedDiscussion {
    border: none;
}

h3.TagTile-name {
    font-size: 16px;
    font-weight: normal;
    margin-left: 18px;
    margin-top: 11px;
}



input#input {
}

input.FormControl {
    font-size: 13px;
    font-family: monospace;
}

img.Header-logo {
    width: 154px;
    height: 67px;
    max-height: 100px;
}

.Flarum-Blog-Composer .ProseMirror.FormControl.Composer-flexible.TextEditor-editor.Post-body {
    min-height: 214px;
}

header.Hero.TagHero {
    background: transparent;
}

button.Button.Button--primary.IndexPage-newDiscussion.hasIcon {
    font-size: 9px;
    padding: 9px;
    margin: 0;
}

span.UserOnline {
    display: none;
}

ul.PostUser-badges.badges {
    display: none;
}

header.Hero.DiscussionHero {
    background: #ffffff00;
}

article.CommentPost.Post--hidden {
    /* display: none; */
}

.App-composer {
    bottom: 29px !important;
}

button.Button.Button--primary.PollModal-SubmitButton.hasIcon {
    text-transform: capitalize;
    font-size: 13px;
}

.fc-event-time {
    display: none !important;
}


.fc-daygrid-event-dot {
    display: none;
}

header#header {
    box-shadow: none;
}


li.item-allDiscussions {
    display: none;
}

button[title~='accueil'] {
    display: none !important;
}


button[title~='Popularité'] {
    display: none !important;
}



.Hero .container {
    padding-top: 40px;
    padding-bottom: 11px;
}

[class^="item-tag"] {
  display:none;
}

.CategoriesPage {
    margin-top: 23px;
}

.App.BlogOverviewPage {
    background: none;
}

.Badge.Badge--private {
    display: none;
}

.item-nav ul.Dropdown-menu.dropdown-menu {
    flex-direction: column-reverse;
    display: flex;
}

.fa-comment:before {
    content: "\f03e";
}

.fa-map:before {
    content: "\f075";
}

.FlarumBlog-Article-Categories {
    display: none;
}

h3.FlarumBlog-Article-Title {
    margin-top: 10px;
}

.FlarumBlog-Article-Post {
    margin-top: 35px;
}

.Flarum-Blog-Composer button.Button.Button--primary.hasIcon {
    font-size: 10px;
}

.BlogCategories.BlogSideWidget {
    display: none;
}

.FlarumBlog-Article-PublishDate {
    margin-bottom: 45px !important;
}

.FlarumBlog-ToolButtons {display: none;}

.FlarumBlogItem {
    margin-top: 39px;
}

.FlarumBlog-Article-Content-Edit-Dropdown {
    z-index: 10000;
}


.TagCategory-stats.StatWidgetList {
    display: none !important;
}

.SubCategory a.TagCategory-content {justify-content: unset !important;}

.SubCategory a.TagCategory-content {
}

.TagCategory-alignStart {
    max-width: 70% !important;
}

.SubCategory {}

li.TagCategory.SubCategory {
    width: fit-content;
}
.DiscussionListItem-content.Slidable-content.read {border: 2px #5494e7;border-style: dashed;border-radius: 24px;margin-bottom: 15px;margin-top: 15px;}

li.item-discussion-language {
    display: none;
}



a.DiscussionListItem-author {
    display: none;
}

span {}

ul.DiscussionListItem-info {
    font-size: 9px;
    margin-top: 11px;
}

.Afrux-NewsWidget .AfruxWidgets-Widget-content {
    background: #ffde44;
}

.AfruxWidgets-Widget.hotDiscussions-widget .AfruxWidgets-Widget-content {
    background: #76294d;
}

.AfruxWidgets-Widget.Afrux-OnlineUsersWidget .AfruxWidgets-Widget-content {
    background: #0000003b;
}
