h1#titleNl {
    display: none;
}

main.App-content {
    border: none;
}

li.item-chatItem {
    position: absolute;
    left: 0px;
    bottom: 0;
}

body {
    font-family: nintendo;
}

@font-face{font-family:nintendo;src:url(/fonts/dogica.otf)}

li.TagTile {
    background-color: white !important;
    height: 84px !important;
    border: 1px solid #000;
    margin: 10px;
    border-radius: 4px;
}

a.TagTile-info {
    overflow: hidden !important;
    color: black !important;
    padding: 0px;
    transition: none;
    position: absolute;
    margin-bottom: -42px;
}

a.TagTile-lastPostedDiscussion {
    color: black !important;
}

a.TagTile-lastPostedDiscussion {
    border: none;
}

h3.TagTile-name {
    font-size: 16px;
    font-weight: normal;
    margin-left: 18px;
    margin-top: 11px;
}

nav.TagsPage-nav.IndexPage-nav.sideNav {
    overflow: hidden;
    width: 1500px;
    margin-left: -179px;
}

input#input {
}

input.FormControl {
    font-size: 13px;
    font-family: monospace;
}

img.Header-logo {
    width: 154px;
    height: 67px;
    max-height: 100px;
}

.Flarum-Blog-Composer .ProseMirror.FormControl.Composer-flexible.TextEditor-editor.Post-body {
    min-height: 214px;
}

header.Hero.TagHero {
    background: white;
}

button.Button.Button--primary.IndexPage-newDiscussion.hasIcon {
    font-size: 9px;
    padding: 9px;
    margin: 0;
}

span.UserOnline {
    display: none;
}

ul.PostUser-badges.badges {
    display: none;
}

header.Hero.DiscussionHero {
    background: white;
}

article.CommentPost.Post--hidden {
    /* display: none; */
}
